
.work__container{
    grid-template-columns: repeat(3, 1fr);
    gap: 1.875rem; 
    grid-template-rows: repeat(2, 1fr);
      
}
.work__card{
    position: relative;
    overflow: hidden;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow); 
}
.work__mask{
    background: #6c6ce5;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    transition: .3s;
    opacity: 0;

}
.work__card:hover .work__mask{
    opacity:0.9; 
}
.work__thumbnail{
    width: fit-content;
    height: fit-content; 
    display: inline-block;     
}
.work__title{
    color: #fff;
    font-size: var(--h3-font-size);
    margin: 0 0 0.98rem;
    padding: 0 1.25rem;
    position: absolute;
    top: 3.75rem;
    transform: translateY(30px);
    transition: .3s;
    opacity: 0;
    
}
.work__button{
    color: #fff;
    position: absolute;
    bottom: 1.5rem;
    left: 1.5rem;
    font-size: var(--h3-font-size);
    display: block;
    background-color: #ffd15c;;
    height: 40px;
    width: 40px;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    transition: .3s;
    opacity: 0;

}
.work__card:hover .work__button{
    opacity: 1;
}
.work__card:hover .work__title{
    opacity: 1;
}
@media screen and (max-width: 1024px){
    .work__container{
        grid-template-columns: repeat(2, 330px);
        justify-content: center;
        row-gap: 1.875rem;
    }
}
@media screen and (max-width: 768px){
    .work__container{
        grid-template-columns: 310px;
        justify-content: center;
    }
}


