.home {
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.intro{
    max-width: 540px;
    text-align: center;
    background: var(--container-color);
    border-radius: 25px;
    padding: 40px; 
    
    display: flex;
    flex-direction: column;
}


.home__name{
    font-size: var(--h1-font-size);
    font-weight: var(--font-bold);
    margin-bottom: 2rem;
}
.scroll__down{
    position: absolute;
    bottom: 2.5rem;
    left: 0;
    width: 100%;
}
.home__education{
    margin-top: 45px; 
    font-size: var(--h3-font-size);
}
.home__scroll-name{
    font-size: var(--small-font-size);
}
.mouse{
    border: 2px solid var(--text-color);
    display: block;
    height: 1.6rem;
    width: 1.25rem;

}
.para{
    font-size: var(--small-font-size);
}
.profile{
width: 160px;
  height: 160px;
  object-fit: cover; /* ensures the image fills the circle */
  border-radius: 50%;
  border: 2px solid #ccc;
  align-self: center; 
}
@media screen and (max-width: 768px) {
  .home__name {
    font-size: 1.5rem;
  }

  .profile {
    width: 120px;
    height: 120px;
  }

  .home__education {
    font-size: 1rem;
  }

  .para {
    font-size: 0.95rem;
  }
}

@media screen and (max-width: 480px) {
  .profile {
    width: 100px;
    height: 100px;
  }

  .home__name {
    font-size: 1.3rem;
  }

  .home__education,
  .para {
    font-size: 0.9rem;
  }
}
    


