.aside{
    position: fixed;
    left: 0;
    top: 0;
    background: var(--body-color);
    border-right: 1px solid rgba(0,0,0,0.05);
    padding: 2.5rem;
    width: 110px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 10;
}

.nav__list{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
.nav__link{
    font-size: 1.5rem;
    color: var(--title-color);
    font-weight: var(--font-bold);
}
.nav__link :hover{
    color: hwb(198 31% 4%);
}


  .nav__item{
    position: relative;
  }  
  .nav__item:hover .tooltip {
    visibility: visible;
    opacity: 1;
  }
  .nav__toggle{
    position : fixed;
    top: 1.2rem;
    left: 1.875rem;
    cursor: pointer;
    height: 40px;
    width: 45px;
    background-color: var(--body-color);
    border: 1px solid #ead8f1;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  
  .tooltip {
  visibility: hidden;
  background-color: #4b56f6;
  color: white;
  text-align: center;
  border-radius: 6px;
  position: absolute;
  left: 80px; 
  top: 50%;
  padding: 6px 10px;
  transform: translateY(-50%);
  white-space: nowrap;
  opacity: 0;
  transition: all 0.3s ease;
  font-size: 15px;
  font-weight: 500;
  z-index: 100;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

.tooltip.show {
  visibility: visible;
  opacity: 1;
  left: 75px;
}
.sidebar {
  position: fixed;
  top: 0;
  left: -260px; /* hidden initially */
  width: 260px;
  height: 100vh;
  
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);

  border-right: 1px solid rgba(255, 255, 255, 0.2);

  box-shadow: 4px 0 30px rgba(0, 0, 0, 0.25);

  transition: left 0.35s ease;
  z-index: 1000;
  padding: 2rem 2.5rem;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border-radius: 0 20px 20px 0;
  
  
}
.sidebar.open {
  left: 0;
}
.sidebar a{
  color: white;
}

  @media screen and (max-width:1024px){
    .aside{
      left: -110px;
    } 
  }
  @media screen and (min-width: 1024px) {
  .sidebar {
    display: none;
  }

  .nav__toggle {
    display: none;
  }
}
  