
.timeline{
    background-color: var(--container-color);
    padding: 1.275rem;
    border-radius: var(--border-radius);
    position: relative;
    box-shadow: var(--shadow);

}
.timeline__item{
    position:relative;
    padding-left: 3.125rem;
    padding-bottom: 0.125rem;


}
timeline__item:last-child{
    padding-bottom: 0;
}
.timeline__item::before{
    content:'';
    width: 3px;
    height: 100%;
    background-color:var(--first-color);
    position: absolute;
    left:0.5rem;
    top: 0;
    margin-right: 250px;
}
.timeline .icon-graduation{
    position: absolute;
    left: 0rem;
    top: 0;
    font-size: var(--h2-font-size);
    color: var(--first-color);
    background-color: var(--container-color);
    padding: 0.5rem 0;
}
.timeline__date{
    color: #8b88b1;
    font-size: var(--normal-font-size);
}
.timeline__title{
    font-size: var(--h3-font-size);
    margin: 0.5rem 0;
    
}
.timeline__school{
    font-size: var(--h4-font-size);
}

